<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--IP,Port,space: 10.172.154.30 with 4G space, 10.86.170.172 with 1G space -->
    <add key="TxConfig" value="10.172.154.30,7788,32;10.86.170.172,7788,30;" />
  </appSettings>
</configuration>